{% extends "base.html" %}

{% block content %}
    <form class="form-inline" method="post">
      <div class="form-group">
        <div class="input-group">
            <select name="interfaces" method="POST" action="/selection">
                {% for interface in interface_list %}
                <option value= "{{interface}}" SELECTED>{{interface}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit"  >SUBMIT</button>
      </div>
    </form>

{% endblock %}